@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
  /* 1rem = 10rem */
  font-size: 62.5%;
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {

  html {
      font-size: 40%;
  }
}


/* Media Query for Smaller Screens */
@media (max-width: 576px) {

  html{
      font-size: 30%;
  }

}


header {
    background-color: #333;
    color: #f1f4ee;
    padding: 0.1rem 0; /* Reduce the top and bottom padding */
}


/* Navbar styling */

.navbar {
    /* height: 50rem;  */
    /* padding: 5rem 0;   */
    background-color: #333;
    font-size:1.5rem;
}

@media (max-width: 576px) {
  .navbar {
    font-size: 3rem;
  }

}


nav li {
    margin: 0 0.5rem; 
}

nav a.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.2rem 0.4rem; 
    border-bottom: 0.2rem solid transparent;
    transition: border-color 0.3s; 
}

nav a.nav-link:hover {
    border-color: #9e30c7;
}


  
/* CSS for the attractive footer with a black background */
footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
}

.footer-widget {
  margin-bottom: 2em;
}

.footer-widget h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contact-info2 i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.footer-links li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #bbb;
}

.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.footer-bottom p {
  margin: 0;
}


  body {
    font-family: Arial, sans-serif;
    background-color: #f1f4ee;
    color: #333;
    text-align: center;
      /* padding: 20rem; */
    margin: 0;
    padding: 0;
  
  }



.button2 {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #9e30c7; /* Change to your desired button background color */
  color: #ffffff; /* Change to your desired text color */
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

}

/* 
.container {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
} */



/* 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #000718; 
}
body, input,textarea, a{
  font-family: 'Roboto', sans-serif;
} */



.animated-text h1 {
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: 6rem;
  color: #333;
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text from wrapping */
  position: relative; /* Position relative for cursor positioning */

  /* Animation settings */
  animation: typing 4s steps(40, end);
}

.animated-text h1 .cursor {
  border-right: 0.15em solid #333; /* Typing cursor style */
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  animation: blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent; /* Make the cursor transparent at the beginning and end */
  }
  50% {
    border-color: #333; /* Display the cursor as a solid color during typing */
  }
}




#section-wrapper{
  width: 100%;
  height: 120vh;
  /* padding: 10rem; */
  /* margin-top: 20vh;
  margin-bottom: 10vh; */
  background-color: #f1f4ee;
}

/* #section-wrapper h1{
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: 6rem;
  color: #333;
} */

.box-wrapper{
  position: relative;
  display: table;
  width:70%;
  margin:auto;
  margin-top: -2vh;
  border-radius: 3rem;
}
.info-wrap{
  width:35%;
  height: 55.1rem;
  padding: 4rem;
  float: left;
  display: block;
  border-radius: 3rem 0rem 0rem 3rem;
  background: linear-gradient(144deg, rgba(49,39,157,1) 0%,#9e30c7 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 2.8rem;
  /* letter-spacing: 0.5rem; */
}
.info-sub-title{
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 1.7rem;
  letter-spacing: 0.5rem;
  line-height: 2.6rem;
}
.info-details {
  list-style: none;
  margin: 6rem 0rem;
}
.info-details li {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  color: #fff;
}
.info-details li i {
  background: #333;
  padding: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: #333;
}
.social-icons {
  list-style: none;
  text-align: center;
  margin: 2rem 0rem;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: #333;
  color: #fff;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 22%;
  margin: 0rem 0.5rem;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  width:65%;
  float: right;
  padding:4rem 2.5rem 3.5rem 2.5rem;
  border-radius: 0rem 3rem 3rem 0rem;
  background: #fffbfb;
}
.form-title{
  text-align: left;
  margin-left: 2.3rem;
  font-size: 2.8rem;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 1.8rem;
  color:#555;
  padding: 2rem 1rem 2rem 0.5rem;
  width:100%
}
.form-fields textarea{
  height: 15rem;
  resize: none;
}
.form-group{
  width: 46%;
  float: left;
  padding: 0rem 3rem;
  margin: 1.4rem 1.2rem;
  border-radius: 2.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.2rem #cbced1, inset -0.2rem -0.2rem 0.2rem #ffffff;
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 6rem;
  margin: 0rem 1.2rem;
  border-radius: 3rem;
  font-size: 2rem;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #333;
  box-shadow: 0.3rem 0.3rem 0.8rem #b1b1b1, -0.3rem -0.3rem 0.8rem #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: #9e30c7;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
  .animated-text h1{
    margin-top: 15rem;
    font-size: 3rem;
    
  }
  
  .box-wrapper{
      width: 100%;
      margin-top: 10rem;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 3rem 3rem 0rem 0rem;
  }
  .form-wrap{
      border-radius: 0rem 0rem 3rem 3rem;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 2.5rem 0rem;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 1rem 0rem;
  }
 
}
