html {
  /* 1rem = 10rem */
  font-size: 62.5%;
}
/* Media Query for Smaller Screens */
@media (max-width: 768px) {

  html {
      font-size: 40%;
  }
}


/* Media Query for Smaller Screens */
@media (max-width: 576px) {

  html{
      font-size: 30%;
  }

}


header {
    background-color: #333;
    color: #f1f4ee;
    padding: 0.1rem 0; /* Reduce the top and bottom padding */
}


/* Navbar styling */

.navbar {
    /* height: 50rem;  */
    /* padding: 5rem 0;   */
    background-color: #333;
    font-size:1.5rem;
}

@media (max-width: 576px) {
  .navbar {
    font-size: 3rem;
  }

}

nav li {
    margin: 0 0.5rem; 
}

nav a.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.2rem 0.4rem; 
    border-bottom: 0.2rem solid transparent;
    transition: border-color 0.3s; 
}

nav a.nav-link:hover {
    border-color: #9e30c7;
}


  
/* CSS for the attractive footer with a black background */
footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 0;
}


/* @media (max-width: 576px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

} */



.footer-widget {
  margin-bottom: 2em;
}

.footer-widget h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contact-info i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.footer-links li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #bbb;
}

.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

.footer-bottom p {
  margin: 0;
}


  body {
    font-family: Arial, sans-serif;
    background-color: #f1f4ee;
    color: #333;
    text-align: center;
      /* padding: 20rem; */
  
  }


  
.button2 {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #9e30c7; /* Change to your desired button background color */
  color: #ffffff; /* Change to your desired text color */
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

}




.hero {
  background: #f1f4ee;
  color: #333;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
}

.hero p {
  font-size: 2rem;

}

#size {
  margin: 10px;
}

.project-card {
  max-width: 200rem;
  width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: #f0f6ee;
}
/* 
.project-card:hover {
  transform: scale(1.05);
} */


.project-details {
  padding: 10px;
}

.view-project-button {
  background-color: #9e30c7;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Popup Styling */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.popup-content {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.popup-image {
  max-width: 100%;
  max-height: 70vh;
  padding-bottom: 2rem;
}



/* Base styles for buttons */
#popup-buttons {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect */
#popup-buttons:hover {
  background-color: #9e30c7;
}

/* Responsive styles */
@media (max-width: 768px) {
  #popup-buttons {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;

  }
  /* .project-card{
    width: 200%;
  } */
}

.projects h3{
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.projects p{
  font-size: 1.5rem;
  color: #333;
}
